.title {
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, monospace;
  text-align: center;
  background-color: black;
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
}
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: -100px;
  }
#col {
  column-count: 2;
  column-rule: 2px solid #cce5cc;
  font-family: Century Gothic, CenturyGothic, AppleGothic, monospace;
  vertical-align: text-top;
}
.col firstcol {
  overflow: scroll;
  display: inline-flex;
}
