.title {
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, monospace;
  background-color: black;
  text-align: center;
}
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
}
#col {
  column-count: 2;
  column-rule: 2px solid #cce5cc;
  font-family: Century Gothic, CenturyGothic, AppleGothic, monospace;
  
}
